body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Nunito;
  background: #f2f2f2;
  background-color: black;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}

nav {
  position: sticky;
  top: 50%;
  height: 2vh;
}

.main-title {
  font-size: 1.5vw;
  text-transform: uppercase;
  background: linear-gradient(to right, darkblue, darkorchid);
  font-style: underline;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
  box-shadow: 15px 20px 100px rgb(38, 253, 0);
}

a:hover::before {
  width: 100%;
}

.overview {
  position: relative;
  text-align: justify;
  width: 100vw;
}

.banner-image img {
  height: 100vh;
  width: 100vw;
}

.inner-quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Source Code Pro", monospace;
}

.intro {
  font-size: 3.6vw;
  text-align: justify;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 2px 4px 1px red, 2px 4px 5px rgb(70, 188, 243);
}

.main-container {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
}

footer {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 2px;
  text-align: center;
  height: 6vh;
}

.music {
  border: 2px solid #000;
  padding: 26px;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0;
  background-color: #353941;
  display: flex;
}

.music-icon {
  height: 8vh;
}
.enter {
  height: 100vh;
  width: 100vw;
  margin-top: 0;
}
.cards {
  border: 2px solid #000;
  padding: 26px;
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: auto auto;
  margin-bottom: 0;
  background-color: #26282b;
}

.gift-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.description img {
  height: 70vh;
  width: 100vw;
}

.main {
  width: 25vw;
  height: 70vh;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 29px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.bbbb {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.music {
  font-size: 2.5rem;
  margin: 0;
}

.mb {
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: #800000;
}

.ok {
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
  justify-content: center;
}

.containerr {
  padding-top: 20px;
  width: 25vw;
  margin: auto;
}

.gift-image {
  height: 70vh;
  width: 50vw;
}

.phone {
  height: 35vh;
  width: 40vw;
}

.about-p {
  margin-top: 2;
  color: #ffffff;
  font-size: 2vw;
}
